# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 5

#### 2. asign any number of type float to the variable "num_2"

In [4]:
num_2 = 5.0

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [5]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [6]:
type(total)

float

#### 5. assign variable "height" with your height

In [7]:
height = 1.7

#### 6. asign variable "mass" with your weight

In [8]:
mass = 80

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [9]:
bmi = mass / (height**2)

#### 8. print value from "bmi" variable

In [11]:
print (bmi)

60.55363321799309

# String

#### 1. Create variable "name" with your first name

In [12]:
name = 'Dylan'

#### 2. Create variable "surname" with your surname

In [13]:
surname = "Wu"

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [15]:
name_surname = name + " " + surname

#### 4. print variable "name_surname"

In [16]:
print(name_surname)

Dylan Wu

#### 5. print first letter from variable "name_surname"

In [17]:
print(name_surname[0])

D

#### 6. print your name (without enmpty space) from variable "name_surname"

In [19]:
name_surname.replace(' ', '')

'DylanWu'

#### 7. print your surname 10x (use variable surname)

In [20]:
print(surname*10)

WuWuWuWuWuWuWuWuWuWu

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [21]:
message = 'Hello my name is {}.'.format(name_surname)

#### 9. print "message" variable

In [22]:
print (message)

Hello my name is Dylan Wu.

## List

#### 1. create empty list with name "empty_list"

In [23]:
empty_list = []

#### 2. create list "heights" with five random values

In [25]:
heights = [ 1, 2, 3, 4, 5]

#### 3. print heights

In [33]:
print(heights)

[1, 2, 3, 4, 5]

#### 4. print type of variable "heights"

In [32]:
type(heights)

list

#### 5. print second value from "heights"

In [31]:
print(heights[1])

2

#### 6. assign last three values from "heights" to another list "heights_2"

In [37]:
heights_2 = heights[-3:]
print(heights_2)

[3, 4, 5]

#### 7. print "heights_2"

In [38]:
print (heights_2)

[3, 4, 5]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [39]:
list_all = heights+heights_2

#### 9. print "list_all"

In [40]:
print(list_all)

[1, 2, 3, 4, 5, 3, 4, 5]

#### 10. print the type of "list_all"

In [41]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [46]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [50]:
empty_tuple(0) = name

SyntaxError: cannot assign to function call (<ipython-input-50-4163f4813fc6>, line 1)

#### 3. According to question number 2, what is the main difference between list and tuple?

In [49]:
lists are mutable, but tuples are not

SyntaxError: invalid syntax (<ipython-input-49-90c389add14e>, line 1)

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [51]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [52]:
heights_dict = {name:height,}

#### 3. asign another name and height to "heights_dict"

In [54]:
heights_dict["Mat"]=200

#### 4. print "heights_dict" dictionary

In [55]:
print(heights_dict)

{'Dylan': 1.7, 'Mat': 200}

#### 5. print your height from the "heights_dict" dictionary

In [59]:
print(heights_dict['Dylan'])

1.7

#### 6. print all values from "heights_dict" dictionary

In [60]:
print(heights_dict.values())

dict_values([1.7, 200])

#### 7. print all keys from "heights_dict" dictionary

In [61]:
print(heights_dict.keys())

dict_keys(['Dylan', 'Mat'])